/* importar url para la fuente de la pagina */
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
html {
  /* Ponerle estilo al HTML */
    width: 100%;
    height: 100%;
    background: radial-gradient(
          circle farthest-side at 0% 50%,
          #282828 23.5%,
          rgba(255, 170, 0, 0) 0
        )
        21px 30px,
      radial-gradient(
          circle farthest-side at 0% 50%,
          #2c3539 24%,
          rgba(240, 166, 17, 0) 0
        )
        19px 30px,
      linear-gradient(
          #282828 14%,
          rgba(240, 166, 17, 0) 0,
          rgba(240, 166, 17, 0) 85%,
          #282828 0
        )
        0 0,
      linear-gradient(
          150deg,
          #282828 24%,
          #2c3539 0,
          #2c3539 26%,
          rgba(240, 166, 17, 0) 0,
          rgba(240, 166, 17, 0) 74%,
          #2c3539 0,
          #2c3539 76%,
          #282828 0
        )
        0 0,
      linear-gradient(
          30deg,
          #282828 24%,
          #2c3539 0,
          #2c3539 26%,
          rgba(240, 166, 17, 0) 0,
          rgba(240, 166, 17, 0) 74%,
          #2c3539 0,
          #2c3539 76%,
          #282828 0
        )
        0 0,
      linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
        #282828;
    background-size: 40px 60px;
}

body {
  /* Configurar la fuente del cuerpo de la pagina */
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-size: large;
    color: rgb(236, 223, 204);
}
/* Configurar todos los botones */
.botones {
  display: flex;
  justify-content: center;
  text-align: center;
}

.boton1 {
  border-radius: 20px;
  width: 90px;
  height: 50px;
  background-color:rgb(58, 132, 205);
  margin-right: 10px;
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-size: larger;
  color: rgb(236, 223, 204);
}

.boton1:hover {
  background-color:rgb(58, 132, 205);
}

.boton2 {
  border-radius: 20px;
  width: 105px;
  height: 50px;
  background-color:rgb(109, 144, 178);
  margin-right: 10px;
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-size: larger;
  color: rgb(236, 223, 204);
}

.boton2:hover {
  background-color:rgb(58, 132, 205);
}

.boton3 {
  border-radius: 20px;
  width: 90px;
  height: 50px;
  background-color:rgb(109, 144, 178);
  margin-right: 10px;
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-size: larger;    
  color: rgb(236, 223, 204);
}

.boton3:hover {
  background-color:rgb(58, 132, 205);
}

.boton4 {
  border-radius: 20px;
  width: 115px;
  height: 50px;
  background-color:rgb(109, 144, 178);
  margin-right: 10px;
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-size: larger;    
  color: rgb(236, 223, 204);
}

.boton4:hover {
  background-color:rgb(58, 132, 205);
}

h1 {
  /* Ponerle un color al primer titulo de la pagina */
    display: flex;
    justify-content: center;
    font-size: xx-large; 
    color: rgb(19, 132, 138);
}

h2 {
  display: flex;
  justify-content: center;
  color: rgb(233, 223, 223);
  font-size: xx-large
}

.socket {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
}

.hex-brick {
  background: #000000;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.h2 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}

.h3 {
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}

.imagen-inicio {
  width: 1200px;
  height: 800px;
}